<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤怠管理</title>
</head>

<body>
    <h1>勤怠管理アプリ⏰️</h1>
    <hr>
    <h2>ログイン👤🔓️</h2>
<style>
        .form-row {
            display: flex;
            align-items: center;
            margin-bottom: 3px;
        }

        .form-row label {
            width: 120px;
        }
    </style>
    <form method="POST">
        <div class="form-row">
            <label for="email_address">メールアドレス</label>
            <input type="text" id="email_address" name="email_address">
        </div>
        <div class="form-row">
            <label for="password">パスワード</label>
            <input type="text" id="password" name="password">
        </div>
        {% if message %}
        <p style="color:red">{{ message }}</p>
        {% endif %}
        <input type="submit" value="ログイン">
        <br>
        <br>
        <div><a href="/signup">サインアップはこちら</a></div>
        <div><a href="/admin_login">管理者ログインはこちら</a></div>
    </form>
</body>
</html>