<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤怠管理</title>
</head>

<body>
    <h1>勤怠管理アプリ⏰️</h1>
    <hr>
    <h2>ようこそ、{{ user.username }}さん！</h2>
    
    <!--出勤退勤ボタン-->
    <form action="/work_in" method="POST" style="display:inline;">
    <button type="submit" style="font-size:20px; padding:12px 30px;" {% if on_work %}disabled{% endif %}>出勤</button>
    </form>
    <form action="/work_out" method="POST" style="display:inline;">
    <button type="submit" style="font-size:20px; padding:12px 30px;" {% if not on_work %}disabled{% endif %}>退勤</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <br><br>

    <!--最近の勤務記録-->
    <h2>最近の勤務記録📊</h2>
    <table border="2">
    <tr>
        <th>日付</th>
        <th>出勤時刻</th>
        <th>退勤時刻</th>
        <th>勤務時間</th>
    </tr>
    {% for record in all_records %}
    <tr>
        <td>{{ record.work_in.strftime("%Y-%m-%d") }}</td>
        <td>{{ record.work_in.strftime("%H:%M:%S") }}</td>
        <td>{{ record.work_out.strftime("%H:%M:%S") if record.work_out else "—" }}</td>
        <td>
        {% if record.work_out %}
            {{ record.work_out - record.work_in }}
        {% else %}
            —
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('edit') }}">登録情報の確認及び編集</a>
    <br>
    <a href="{{ url_for('logout') }}" onclick="return confirm('ログアウトしますか？');">ログアウト👤🔐</a>
</body>
</html>